{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Add Course Form</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        h2 {
            color: #336699;
        }

        form {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        label {
            display: block;
            color: #336699;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }

        .button {
            padding: 10px 20px;
            background-color: #336699;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #004466;
        }
    </style>
</head>
<body>
    <header>
        <div class="nav">
          
          <div class="logo">
            <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
          </div>
          <div class="profile">
            <div style="display:flex;align-items: center;justify-content: center;">
            <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'd_logout'%}">logout</a></h6>
            <h3 class="name">{{developer.developer_name}}</h3>
          </div>
          </div>
        </div>
      </header>
    <div style="padding-top: 120px;width: 90vw;margin-left: 20px;margin-bottom: 100px;">

    <h2>Add Course</h2>
    <form action="{% url 'add_course' developer.id %}" method="post">
        {% csrf_token %}
        <label for="course_name">Course Name:</label>
        <input type="text" id="course_name" name="course_name" required>

        <label for="course_description">Course Description:</label>
        <textarea id="course_description" name="course_description" rows="4" required></textarea>

        <label for="course_price">Course Price:</label>
        <input type="number" id="course_price" name="course_price" min="0" step="0.01" required>

        <label for="course_discount">Course Discount (%):</label>
        <input type="number" id="course_discount" name="course_discount" min="0" max="100" step="1" required>

        <input type="submit" value="Add Course" class="button">
    </form>
    <a href="{% url 'courses_list' developer.id %}"></a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>
