{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learners list</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        h1 {
            color: #3498db;
        }

        table {
            counter-reset: row-counter;
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            background-color: #3498db;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: #ffffff;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #2980b9;
        }

        tr:nth-child(even) {
            background-color: #85c1e9;
        }

        tr:hover {
            background-color: #aed6f1;
        }

        td:first-child:before {
            counter-increment: row-counter;
            content: counter(row-counter);
        }
    </style>
</head>
<body>
    <header>
        <div class="nav">
          
          <div class="logo">
            <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
          </div>
          <div class="profile">
            <div style="display:flex;align-items: center;justify-content: center;">
            <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'd_logout'%}">logout</a></h6>
            <h3 class="name">{{developer.developer_name}}</h3>
          </div>
          </div>
        </div>
      </header>
    <div style="padding-top: 100px;">
        <h1>Student List</h1>
        <div >
        <table>
            <tr>
                <th>#</th>
                <th>Roll No</th>
                <th>Name</th>
                <th>Age</th>
                <th>Course</th>
            </tr>
            {% for learner in learners %}
            <tr>
                <td></td>
                <td>{{learner.username}}</td>
                <td>{{learner.email}}</td>
                <td>{{learner.ph_number}}</td>
                <td><a href="{% url 'learner_profile' learner.id %}">more details</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{% url 'developer_home' developer.id %}"><h4 style="color:whitesmoke;margin-left: 100px;margin-top:20px;background-color:blue;width: fit-content;padding: 10px;border-radius: 20px;">Back</h4></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>