{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'buying_course.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="nav">  
        <div class="logo">
          <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
        </div>
        <div class="profile">
          <h3 class="name">{{learnt.learner.username}}</h3>
          <a href="{% url 'learner_profile' learnt.learner.id %}"><img src="{{learnt.learner.profile_picture.url}}" alt="image not Found"></a>
        </div>
      </div>
    </header>
    <div class="main-container">
        <div class="photo-container">
          {% if learnt.course_learning.name == 'HTML' %}
          <img src="{% static 'html.png' %}" alt="Profile Photo">
          {% elif learnt.course_learning.name == 'PYTHON' %}
          <img src="{% static 'python.png' %}" alt="Profile Photo">
          {% else %}
          <img src="{% static 'css.png' %}" alt="Profile Photo">
          {% endif %}
        </div>
        <div class="content-container">
          <div>
            <div class="card" style="text-align: center;">
              <div class="heading">{{learnt.course_learning.name}} Pro Membership</div>
              <div class="info">Gain access to exclusive {{learnt.course_learning.name}} resources.</div>
              <div class="info">Unlock advanced web development tutorials.</div>
              <div class="info">Obtaining an {{learnt.course_learning.name}} certification showcases your proficiency in web development. It validates your skills and opens doors to exciting opportunities. Take the step forward to prove your expertise in {{learnt.course_learning.name}}.</div>
              <div class="amount">Rs {{learnt.course_learning.price}}/- </div>
              <form action="{% url 'making_payment' learnt.id %}" method="post">
                {% csrf_token %}
                <input class="button" type="submit" value="BUY COURSE">
              </form>
          </div>
          </div>
        </div>
      </div>
       
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{learnt.course_learning.name }}</p>
    <form action="{% url 'making_payment' learnt.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value = 'buy course'>
    </form>
</body>
</html> -->