<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
      
    }
    
    .container {
      background-image: url("middle.png");
      height: fit-content;
      max-width: 400px;
      margin: 0 auto;
      margin-top: 150px;
      background-color: rgb(202, 229, 238);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 2px 4px 8px rgba(60, 50, 60, 50);
    }
    
    h2 {
      text-align: center;
      font-family: sans-serif;
      background-color: whitesmoke ;
      margin-top: 2px;
      border-radius: 5px;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .form-group input[type="text"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    #rzp-button1 {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: blue;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    @media screen and (max-width: 480px) {
      .container {
        max-width: 100%;
      }
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="form-group">
        
        <button id="rzp-button1">Confirm Payment</button>
      </div>
  </div>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "rzp_test_ALvDvnHKMbLQmU", // Enter the Key ID generated from the Dashboard
            "amount": 50000, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Ez_LeaRN", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "{{payment.order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "http://127.0.0.1:8000/ez_learn/verify",
            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
        </script> 
</body>
</html>
