{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'personal.css' %}">
    <style>
        .form-group input{
            margin-top: 7px;
            border-width: 2px;
            border-color: blue;
            background-color: lightblue;
        }
    </style>
</head>
<body>
            <!-- quiz/templates/quiz/create_quiz.html -->

<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <h1>Create Quiz</h1>
<div class="container" style="width:70vw;margin-left: 0;margin-top: 10px;">

<form action="{% url 'create_quiz' developer.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="cars">Choose a Course:</label>
    <select name="course_id" id="">
        {% for course in courses %}
        <option value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
  </select>
    </div>
    <div class="form-group">
    <label for="title">Quiz Title:</label>
    <input style="width: 150px;margin-bottom: 10px;" type="text" id="title" name="title" required>
    <br>
    {% for i in q_range %}
        <h3>{{i}} . question</h3>
        <input type="text" placeholder="entr question number"><br>
        <input type="text"  placeholder="enter question" name="question" required>
        <br>
        {% for j in c_range %}
            <input type="text" name="choice" required placeholder="enter option {{j}}">
            <input type="checkbox" name="correct_choice" value="{{j}}" >
            <br>
        {% endfor %}
        <br>
    {% endfor %}
    </div>
    <div class="form-group">
    <input type="submit" value="Create Quiz">
    </div>
</form>
</div>
</div>
</body>
</html>