{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz_played.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
            </div>
            <div class="profile">
                <h3 class="name">{{learner.username}}</h3>
                <a href="{% url 'learner_profile' learner.id %}"><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
            </div>
        </div>
    </header>
    <div style="padding-top: 150px;display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column;">
        {% if submissions %}
        <h2 style="position: sticky;left: 0;">previous attemps</h2>

        <ol >
            {% for submission in submissions %}
            <li>
                <div class="quiz_list">
                    <h4>Score</h4>
                    <h4>:</h4>
                    <h4>{{submission.score}}</h4>
                </div>
            </li>
            {% endfor %}
        </ol>
        {% endif %}

        {% if error %}
            <h3 style="color: red;">{{error}}</h3>
        {% endif %}
    <div id="quiz-container">
        <h2>Quiz Rules:</h2>
        <ol>
            <li>Each quiz contains 20 questions.</li>
            <li>Once you start the quiz and you cannot pause or reset it.</li>
            <li>You cannot skip any question; you must answer each question before proceeding to the next.</li>
            <li>Your final score will be displayed at the end of the quiz.</li>
            <li>Have fun and test your knowledge!</li>
        </ol>
        <form action="{% url 'take_quiz' course.name learner.id %}" method="get">
            {% csrf_token %}
            <input type="submit"  value='Play Quiz' id="btn">
        </form>
        <h1><a href="{% url 'home' learner.id %}">Home</a></h1>
    </div>
</div>
</body>
</html>