{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      .dropdown-btn {
            background-color:rgb(218, 76, 218);
            color: white;
            height:fit-content;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 200px;
            border: none;
            cursor: pointer;

        }
    </style>

    <title>ez_learn compiler</title>
  </head>
  <body>
    <header>
        <div class="nav">
          
          <div class="logo">
            <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
          </div>
          <div class="profile">
            <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'home' learner.id %}">HOME</a></h6>
            <h3 class="name">{{learner.username}}</h3>
            <a href="{% url 'learner_profile' learner.id %}"><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
          </div>
        </div>
      </header>
    <div style="font-family:Verdana;padding-top: 100px;">
    <h1 style="text-align:center;">Ez Compiler</h1><br>

    <form action="{% url 'runcode' learner.id %}" method="post">
      {% csrf_token %}
    <div style="display: flex;flex-direction: row;">
      <div class="form-group" style="margin-left:50px;margin-right:50px;width: 50vw;">
        <label for="codearea">Code Area</label>
        <textarea  placeholder="Write your code here" style="background-color: lightblue;" type="text" class="form-control" id="codearea" name="codearea" rows="20" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ code }}</textarea>
        </div>
        <div class="form-group" style="margin-left:50px;margin-right:50px;width: 45vw;">
      <label for="output">Output</label>
      <textarea placeholder="After submit your output will be shown here" style="background-color: lightblue;" type="text" class="form-control" id="output" name="output" rows="10" disabled> {{ output }} </textarea>
      <button style="margin-top:20px;" type="submit" class="btn btn-primary" style="margin-left:50px;">Submit</button>
        </div>
    </div>
    </form>

</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>