{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'python.css' %}">
    <title>Document</title>
    <style>
        .button {
    display: block;
    width: 100%;
    height: 35px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
    border: 0.5px solid black;
    border-top: none;
    text-decoration: none;

 
}
.dropdown-btn {
            background-color:rgb(218, 76, 218);
            color: white;
            height:fit-content;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 200px;
            border: none;
            cursor: pointer;

        }
    </style>
</head>
<body class='example'>
    <header>
        <div class="nav">
            <div class="logo">
                <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
            </div>
            <div class="profile">
                <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'learn_course' learner.id course.id %}">Back</a></h6>
                <h3 class="name">{{learner.username}}</h3>
                <a href="{% url 'learner_profile' learner.id %}"><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
            </div>
        </div>
    </header>
    <div id="container">
        <div id="leftDiv">
            <iframe id="myIframe" src="{% static 'course/front.html' %}" name='targetframe'></iframe>
        </div>
    <div id="rightDiv">
        <a class="button" href="{% static 'course/front.html' %}" target="targetframe">What is Html</a>
        <a class="button" href="{% static 'course/f1.html' %}" target="targetframe">Html editors</a>
        <a class="button" href="{% static 'course/f1.html' %}" target="targetframe">Creating Html Page</a>
        <a class="button" href="{% static 'course/f2.html' %}" target="targetframe">Adding Content</a>
      
        <div style="height: 120%;">somasekhar</div>
        <a href="">somasekhar</a>
</body>
</html>

