{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Programming Language Learning</title>
  <link rel="stylesheet" type="text/css" href="{% static 'python.css' %}">
  <style>
    .body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f5fe;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 200px;
  padding: 20px;
  border: 1px solid #b0c6ff;
  margin-bottom: 20px;
  background-color: #e3f0ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.content {
  flex: 1;
}

h2 {
  margin: 0;
  color: #0069d9;
}

p {
  margin-top: 10px;
  color: #333;
}

.learn-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.learn-button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  
  img {
    width: 80px;
    margin: 10px 0;
  }
}

.dropdown-btn {
            background-color:rgb(218, 76, 218);
            color: white;
            height:fit-content;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 200px;
            border: none;
            cursor: pointer;

        }

  </style>
</head>
<body>
  <header>
    <div class="nav">
        <div class="logo">
            <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
        </div>
        <div class="profile">
            <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'home' learner.id %}">HOME</a></h6>
            <h3 class="name">{{learner.username}}</h3>
            <a href="{% url 'learner_profile' learner.id %}"><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
        </div>
    </div>
</header>
  <div class="body"  style="padding-top: 180px;">
  <div class="container">
    <img src="{% static 'bsics.jpg' %}" alt="Intermediate">
    <div class="content">
      <h2>Beginner Level</h2>
      <p>This level is suitable for individuals who are new to programming or have little coding experience. Focus on simple concepts and practical examples to build a strong foundation.</p>
      <form action="{% url 'learn_course' learner.id course.id %}" method="post">
        {% csrf_token %}
      <input type="submit" class="learn-button" name="basics" value="basics">
      </form>
    </div>
  </div>

  <div class="container">
    <img src="{% static 'intermediate.jpg' %}" alt="Intermediate">
    
    <div class="content">
      <h2>Intermediate Level</h2>
      <p>This level is for individuals who have grasped the basics and want to explore more advanced concepts. Dive deeper into data structures, object-oriented programming, and algorithms.</p>
      <form action="{% url 'learn_course' learner.id course.id %}" method="post">
        {% csrf_token %}
      <input type="submit" class="learn-button" name="intermediate" value="intermediate">
      </form>
    </div>
  </div>

  <div class="container">
    <img src="{% static 'advanced.jpg' %}" alt="Intermediate">
    <div class="content">
      <h2>Advanced Level</h2>
      <p>This level is for programmers with substantial experience who want to master the language. Cover advanced topics like multithreading, concurrency, and decorators.</p>
      <form action="{% url 'learn_course' learner.id course.id %}" method="post">
        {% csrf_token %}
      <input type="submit" class="learn-button" name="advanced" value="advanced">
      </form>
    </div>
  </div>
</div>
</body>
</html>
