<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex;justify-content: center;text-align: center;">
    
<div style="width:800px; height:fit-content; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:750px; height:450px; padding:20px; text-align:center; border: 5px solid #787878">
           <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
           <br><br>
           <span style="font-size:25px"><i>This is to certify that</i></span>
           <br><br>
           <span style="font-size:30px"><b>{{learner.last_name}}&nbsp;{{learner.first_name}}</b></span><br/><br/>
           <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
           <span style="font-size:30px">${{course.name}}</span> <br/><br/>
           <span style="font-size:20px">with score of <b>{{score}}</b></span> <br/><br/><br/><br/>
           <span style="font-size:25px"><i>10-10-2022</i></span><br>
          <span style="font-size:30px">issue date</span>
    </div>
</body>
</html>