{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'python.css' %}">
    <title>Document</title>
    <style>
        .button {
    display: block;
    width: 100%;
    height: 35px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
    border: 0.5px solid black;
    border-top: none;
    text-decoration: none;

 
}
    </style>
</head>
<body class='example'>
    <header>
        <div class="nav">
            <div class="logo">
                <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
            </div>
            <div class="profile">
                <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'home' learner.id %}">HOME</a></h6>
                <h3 class="name">{{learner.username}}</h3>
                <a href="{% url 'learner_profile' learner.id %}"><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
            </div>
        </div>
    </header>
    <div id="container">
        <div id="leftDiv">
            <iframe id="myIframe" src="{% static 'python/intro.html' %}" name='targetframe'></iframe>
        </div>
        <div id="rightDiv">
            <a class="button" href="{% static 'python/intro.html' %}" target="targetframe">Introduction to Python</a>
            <a class="button" href="{% static 'python/basics.html' %}" target="targetframe">Basics of python</a>
            <a class="button" href="{% static 'python/python3.html' %}" target="targetframe">Variables & Data Types</a>
            <a class="button" href="{% static 'python/python2.html' %}" target="targetframe">Sequence  Data Types</a>
            <a class="button" href="{% static 'python/python10.html' %}" target="targetframe">Operators</a>
            <a class="button" href="{% static 'python/python4.html' %}" target="targetframe">Python Conditonal statments </a>
            <a class="button" href="{% static 'python/python5.html' %}" target="targetframe">Python loops</a>
            <a class="button" href="{% static 'python/python6.html' %}" target="targetframe">Funtions</a>
            <a class="button" href="{% static 'python/python9.html' %}" target="targetframe">Modules</a>
            <a class="button" href="{% static 'python/python2.html' %}" target="targetframe">Special Funtions</a>
            <a class="button" href="{% static 'python/python_oop1.html' %}" target="targetframe">Introdution to OOPS</a>
            <a class="button" href="{% static 'python/python_oop2.html' %}" target="targetframe">Polymorphism</a>
            <a class="button" href="{% static 'python/python_oop3.html' %}" target="targetframe">Inheritance</a>
            <a class="button" href="{% static 'python/file_handling.html' %}" target="targetframe">File Handling</a>
            <a class="button" href="{% static 'python/exception_handling.html' %}" target="targetframe">Exception Handling</a>
      </div>
</body>
</html>

