.box {
    height: 200px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
  }

#main{
    margin-top: 15px;
}

#box{
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(60, 50, 60, 50);
    width: 450px;
    height:fit-content;
    align-items: center;
    display: flex;
    justify-content:space-between;
    
}
.d-grid{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.d-grid button{
    border-radius: 30px;
    font-weight: 600;
    border: none;
    font-size:medium;
    width:220px;
    height: fit-content;
}