*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(218, 238, 245);   
}

.container{
    position: relative;
    width:300px;
    background-color: white;
    box-shadow: 0 0 2px 2px #ccc;
    border-radius: 10px;
    
}

.container .form{
    padding:30px;
}

.container .form .title{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #728ce0;
}
.container .form .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0.5px;
    height: 3px;
    width: 30px;
    background-color: #728ce0;
    border-radius: 2px;
}

.form .input-field{
    position:relative;
    margin-top: 30px;
    width: 100%;
    height: 50px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 0px 30px;
    font-size: 20px ;
    border-width: 2.5px;
}

.input-field input:is(:focus,:valid){
    border-bottom-color: #728ce0;
}

.input-field i{
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    color: #728ce0;
    font-size: 20px;
}

.input-field i.icon{
    left: 0;
}

.input-field i.eye-icon{
    right: 0;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
}

.checkbox-content input{
    margin: 0px 8px 0px 4px;
    accent-color: #728ce0;
}

.form a{
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .text{
    color: #728ce0;
    font-size:14px;
}

.form .button{
    margin-top: 25px;
}

.form .button input{
    border: none;
    background-color: #728ce0;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 400;
    border-radius:40px;
    cursor: pointer;
    opacity: 0.9;
}

.form .button input:hover{
    opacity: 1;
}

.form .login-signup{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}