#container {
    padding-top: 100px;
  display: flex;
  height: 100vh;
}
#leftDiv {
  width: 75%;
  background-color: #f2f2f2;
}
#rightDiv {
    width: 25%;
    background-color: #dcdcdc;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
#myIframe {
  width: 100%;
  height: 100%;
  border: none;
}
.example::-webkit-scrollbar {
    display: none;
}
.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.nav {
background-color: blue;
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
height :100px;
width: 100vw;
}

.profile{
margin-right: 10px;
display: flex;
flex-direction: row;

}

.profile img {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 10px;

}

.profile .name {
margin-top: 15px;
font-weight: bold;
padding-right: 20px;
color: white;

}

.logo img:hover{
 transform: scale(1.2); 
 height: 300px;
}
