
#middle h1{
    margin-top: 15vh;
    font-size:10vh;
    font-weight: bolder;
    color: antiquewhite;
    color:blue;
}

#middle h4{
    font-weight:700;
    color: rgb(245, 128, 206);
    margin-top:4vh;
}
#middle form{
    margin-top:4.5vh;
}



#s-input{
    width: 35vw;
    border-radius: 40px 0px 0px 40px;
    padding:10px 0px;
    padding-left:1.7vw;
    font-weight: 600;
    margin-left: 0px;
}
#s-button{
    background-color: green;
    border-radius: 0px 40px 40px 0px;
    color: antiquewhite;
    padding: 0px 3vw;
    
}
#anchor{
    font-weight: bolder;
    color:brown;
    text-transform: capitalize;
    font-weight:700;
    font-size: larger;
    text-decoration: none;
    margin: 0;
    
}

#arrow{
    font-weight: bolder;
    font-size: 15vh;
    color: blue;
    font-weight: 10vw;
}

#anchor:hover{
    color: rgb(70, 70, 160);
    text-decoration: underline;
}