{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <style>

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W3 Schools</title>
    <style>
              /* Style for the dropdown container */
              .dropdown-container {
            position: relative;
            display: inline-block;
        }

        /* Style for the button */
        .dropdown-btn {
            background-color:rgb(218, 76, 218);
            color: white;
            height:fit-content;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 200px;
            border: none;
            cursor: pointer;

        }
        /* Style for the dropdown options */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Style for the options inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            display: block;
            text-decoration: none;
        }

        /* Style for the options on hover */
        .dropdown-content a:hover {
            background-color:rgb(130, 130, 240);
        }
    </style>
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'home2.css' %}">
    <link rel="stylesheet" href="{% static 'foot1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body class="example" style="background-color: whitesmoke;">
    <header>
      <div class="nav">
        
        <div class="logo">
          <img src="{% static 'f_logo.png' %}" alt="Logo" style="width:70%;height: 70px;">
        </div>
        <div class="profile">
          <div style="display:flex;align-items: center;justify-content: center;">
            <div class="dropdown-container">
              <button class="dropdown-btn" style="font-weight: 600;" onmouseover="showDropdown()">Tutorials</button>
              <div class="dropdown-content" onmouseleave="hideDropdown()">
                {% for course in courses %}
                  <a href="{% url 'learn_course' learner.id course.id %}">{{course.name}}</a>
                  {% endfor %}
              </div>
          </div>
          <h6 class="name" ><a class="dropdown-btn" style="color: black;background-color: coral;" href="{% url 'logout'%}">logout</a></h6>
          <h3 class="name">{{learner.username}}</h3>
          <a href="{% url 'learner_profile' learner.id %}"><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
        </div>
        </div>
      </div>
    </header>
    <!-- <div class="container-fluid" id="middle">
      <div>
        <span><h1 id="header1" >Learn coding with</h1></span>
      </div>
      <img id='middleimg'src="{% static 'helper.png' %}" alt="">
    </div> -->
    <div style="padding-top: 100px;background-image: url('{% static "back_ground.jpeg" %}');background-repeat: no-repeat;background-size:100% 100%;" id="middle">
      <div style="display:flex; flex-direction:column; justify-content:center;align-items: center;width:50%" >
        <h1 id="header1" >Welcome to Ez_learn</h1>
        <h4>Coding Simplicity, Brilliance, and <br> Beyond: Choose Your Course 🌟</h4>
        <a href="" id="anchor">not sure where to began?</a>
        <span id="arrow"><p id="arrow" >&#8595;</p></span>
      </div>
      </div>
    <!--html division -->
    <div style="margin-bottom: 100px;margin-top: 50px;background-color: whitesmoke;">
      <div class="container" style="background-color:whitesmoke" id="main">
        <div class="row" >
          {% for course in courses %}
          <div class="col-md-6" style="display: flex;">
            <div class="box" id="box" style="width: 550px;background-color:lightblue;margin-bottom: 30px;margin-left: 10px;height: 45vh;">
                <div style="padding-left:10px;display:flex;flex-direction:column;justify-content:space-around;align-items:center;"><h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight: 600;">{{course.name}}</h4><p style="font-size: medium;font-weight: 600;">{{course.description}}</p></div>
                <div class="container" style="height:auto;width: 60%;margin: 0;background-color:lightblue;">
                    <form action="">
                      <div class="d-grid gap-4" >
                        <a href="{% url 'learn_course' learner.id course.id %}"><button  class="btn btn-primary" style="background-color: blue;" type="button">Learn {{course.name}}</button></a>
                        <a href="{% url 'get_quiz' course.name learner.id %}"><button class="btn btn-primary" style="background-color:rgb(204, 204, 22);color: black;"type="button">Play Quiz</button></a>
                        <a href="{% url 'check_payment' learner.id course.name %}"><button class="btn btn-primary" style="background-color:pink;color: black;"type="button">Get Certified</button></a>
                        {% if course.name == 'PYTHON' %}
                        <a href="{% url 'index' learner.id %}"><button class="btn btn-primary" style="background-color:rgb(46, 172, 46);color: black;"type="button">Ez Compiler</button></a>
                        {% endif %}
                      </div>
                    </form>
                  </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>



    <footer>
      <div class="footer-content">
        <h3>Contact Us</h3>
        <form id="query-form" action="{% url 'query' learner.id %}" method="post">
          {% csrf_token %}
          <input type="text" id="name" name="name" placeholder="Your  username" required>
          <input type="email" id="email" name="email" placeholder="Your Email" required>
          <textarea id="message" name="query" placeholder="Your Message" required></textarea>
          <label for="topic">Select Topic:</label>
          <select id="topic" name="topic" required>
            <option value="General Inquiry">General Inquiry</option>
            <option value="Support">Support</option>
            <option value="Feedback">Feedback</option>
          </select>
          <button type="submit">Submit</button>
        </form>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      <p>EZ-Learn is optimized for learning and training. Examples might be simplified to improve reading and learning.
      Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content</p>
        <div class="footer-content">
      </div>
  </footer>
  <script>
    function showDropdown() {
        document.querySelector('.dropdown-content').style.display = 'block';
    }

    function hideDropdown() {
        document.querySelector('.dropdown-content').style.display = 'none';
    }
    function show(){

    }
</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>